.about {
  display: flex;
  flex-direction: column;
  margin: 20vh 10vw;
}

.about h1 {
  color: white;
  font-size: calc(20px + 1.5vw);
  text-shadow: 3px 6px 4px #1a1010;
  margin: 0;
}

.about h3 {
  color: rgb(91, 196, 238);
  font-weight: 400;
  font-size: calc(12px + 1.5vw);
}

.about .intro {
  font-size: calc(12px + 1.5vw);
  color: #0b0b0c;
  letter-spacing: 2px;
}

.image {
  display: flex;
  justify-content: space-evenly;
}

.brief {
  flex-direction: column;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
}

.about ul.list {
  display: grid;
  gap: 0px 7vw;
  margin: 20px 0 0;
  grid-template-columns: repeat(2, 0.5fr);
  font-size: calc(7px + 1.5vw);
  overflow: hidden;
  list-style: none;
  padding: 0px;
}

.about ul.list span {
  color: rgb(53, 235, 235);
  font-size: calc(7px + 1vw);
}

.about ul.list p {
  padding: 0 1vw;
}

.about ul.list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills h2 {
  color: black;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 0px;
}

.photo {
  background-color: blue;
}
.resume {
  align-self: center;
  margin-top: 80px;
}

.resume a {
  background-color: transparent;
  cursor: pointer;
  border: 5px solid #1acddd;
  border-radius: 10px;
  font-size: 20px;
  padding: 12px;
  color: white;
}

.resume a:hover {
  background-color: #b9e7fad3;
  color: rgb(61, 8, 41);
}
