.gotoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 50%;
  background-color: #a27da740;
  border: none;
  cursor: pointer;
}

.gotoTop:hover {
  background-color: rgb(53, 53, 61);
}
