.project {
  max-width: 450px;
  margin-top: 50px;
  padding: 1rem;
  position: relative;
  background-color: #708090;
  border-radius: 0 6px 6px 6px;
  box-shadow: 4px 4px 7px rgba(17, 144, 194, 0.59);
  cursor: pointer;
}

.project :before {
  content: "";
  width: 50%;
  height: 22px;
  border-radius: 0 20px 0 0;
  background-color: #1aaf96;
  position: absolute;
  top: -18px;
  left: 0px;
}

.project:hover {
  z-index: 100;
}

.links {
  display: flex;
  justify-content: space-around;
}

.github,
.external {
  width: 30px;
  height: 30px;
  align-self: center;
}

.github svg:hover,
.external svg:hover {
  color: rgb(67, 199, 199);
  width: 34px;
  height: 34px;
}

.tech {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
  .tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
